.buttonPrev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 28px;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  text-decoration: none;
  color: #78716c  !important;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.2s ease;
  min-width: 100px;
  min-height: 60px;
  text-align: center;
  margin: 10px 0;
}

.buttonPrev:hover {
  background-color: #f5f5f4;
}

.buttonText {
  margin-left: 10px;
  font-size: 18px;
}

.buttonIcon {
  font-size: 24px;
  font-weight: bold;
}
:global(body.dark) .buttonText {
  color: #78716c;
}
:global(body.dark) .buttonPrev{
  background-color: black;
}
:global(body.dark) .buttonIcon{
  color: #78716c;
}
:global(body.dark) .buttonPrev:hover {
  background-color: #292524;
}
@media (max-width: 767px) {
  .buttonPrev {
    padding: 6px 10px;      
    min-width: 60px;        
    min-height: 30px;       
    font-size: 10px;       
  }

  .buttonText {
    margin-right: 5px;
    font-size: 12px;        
  }

  .buttonIcon {
    font-size: 16px;       
  }
}