.progressContainer {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 8;
  }
  
  .progressBar {
    height: 100%;
    background-color: #03b300;
    transition: width 0.2s ease-out;
  }
  
  
  :global(body.dark) .progressBar {
    background-color: #08fc00;
  }