@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "@radix-ui/themes/styles.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body{
    background-color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex: 1;
    overflow: hidden;
}

 