@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "@radix-ui/themes/styles.css";

:root {
  --background-light: #ffffff;
  --text-light: #000000;
  --border-light: #e0e0e0;
  --hover-light: #f5f5f5;
  
  --background-dark: #000000;
  --text-dark: #ffffff;
  --border-dark: #333333;
  --hover-dark: #2a2a2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

html, body {
    height: 100%;
    overflow: hidden; /* Блокируем прокрутку страницы */
}

/* Скрываем полосы прокрутки для всех элементов */
::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */
}

body{
    background-color: var(--background-light);
    color: var(--text-light);
    font-family: "Space Grotesk", sans-serif;
}

body.light {
    background-color: var(--background-light);
    color: var(--text-light);
}
  
body.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}


.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex: 1;
    overflow: hidden; /* Скролл только внутри внутренних блоков страниц */
}

 